@use 'src/assets/scss/theme.scss' as *;

ngx-skeleton-loader {
    display: block;
}

:host {

    @media screen and (min-width: $min-md-width) {
        display: grid;
        margin-top: $spacing-28;

        // ToDo: Chequear ancho de sidebar
        grid-template-columns: 286px 1fr;
        column-gap: $spacing-8;
    }
}

article {
  background-color: $gray-50;
  padding: $spacing-5;

  @media screen and (max-width: $max-sm-width) {
    margin-left: -$spacing-5;
    margin-right: -$spacing-5;
  }

  @media screen and (min-width: $min-md-width) {
    border-radius: $rounded-xl;
    box-shadow: $box-shadow-card;
    padding: $spacing-15;
  }


  header {
    .subtitle {
      @include inter-body-xl;
    }

    .reading-time {
      @include inter-body-base-medium;
      color: $gray-600;
    }

    .date {
      @include inter-body-base-semibold;
      align-items: center;
      color: $primary-500;
      display: flex;
      margin-top: $spacing-2;
    }
  }

  .prologues {
    @apply flex flex-col gap-10 mb-10;
  }

  .content {
    p {
      @include source-serif-pro-body-xl;
      line-height: $spacing-8;
      margin-bottom: $spacing-8;
    }
  }

  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

}
