@import 'src/assets/scss/theme.scss';

:host {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    max-width: 1240px;
    margin: auto;

    article {
        @include card;
        padding: $spacing-15;

        header {
            margin-bottom: $spacing-10;

            .title {
                margin-bottom: $spacing-2;
            }

            .subtitle {
                @include inter-body-xl;
                margin-bottom: $spacing-2;
            }

            .reading-time {
                @include inter-body-base-medium;
                color: $gray-600;
            }
        }

        .prologues {
            margin-bottom: $spacing-10;
            span {
                border-left: 3px solid $primary-500;
                margin-right: $spacing-4;
                height: $spacing-5;
            }
            .prologue {
                @include source-serif-pro-body-lg;
                color: $gray-700;
                line-height: 28px;
            }
        }

        .content {
            p {
                @include source-serif-pro-body-xl;
                line-height: $spacing-8;
                margin-bottom: $spacing-8;
            }
        }

        footer {
            background-color: $gray-100;
            border-radius: $rounded;
            padding: $spacing-6;

            .author-info {
                display: grid;
                grid-template-columns: 64px 1fr 100px;
                column-gap: $spacing-4;
                margin-bottom: $spacing-8;
            }

            .bio-and-summary {
                p:not(:last-child) {
                    margin-bottom: $spacing-8;
                }
            }
        }
    }
}
