<aside class="hidden md:block">
	@defer {
		<cuentoneta-story-navigation-bar
		[selectedStorySlug]="story?.slug ?? ''"
			[storylist]="storylist"
		></cuentoneta-story-navigation-bar>
	}
</aside>
<main>
	<article class="bg-gray-50 p-5 md:p-15 md:rounded-xl md:shadow-lg">
		<header class="flex flex-col-reverse sm:block mb-6 sm:mb-10">
			<aside class="sm:float-right mt-6 sm:ml-12 sm:mb-12 sm:mt-0">
				@defer {
					<cuentoneta-share-content
						[isLoading]="fetchContentDirective.isLoading"
						[params]="shareContentParams"
						[route]="appRouteTree['STORY']"
						[message]="shareMessage"
					/>
				}
			</aside>
			<div>
				@if (!!story && !fetchContentDirective.isLoading) {
					<h1 [lang]="story.language" class="h1 mb-2">{{ story.title }}</h1>
					<p [lang]="story.language" class="inter-body-xl mb-2">{{ story.author.name }}</p>
					<time class="inter-body-base-medium text-gray-600">
						{{ story.approximateReadingTime }} minutos de lectura
					</time>

					@if (!!story.badLanguage) {
						<p class="inter-body-base-semibold flex items-center mt-2 text-primary-500">* Contiene lenguaje adulto</p>
					}
				} @else {
					<ngx-skeleton-loader
						[theme]="{
							'height.px': 36,
							'background-color': '#D4D4D8',
							width: '50%'
						}"
						count="1"
						appearance="line"
					></ngx-skeleton-loader>
					<ngx-skeleton-loader
						[theme]="{
							'height.px': 20,
							'background-color': '#D4D4D8',
							width: '25%'
						}"
						count="1"
						appearance="line"
					></ngx-skeleton-loader>
					<ngx-skeleton-loader
						[theme]="{
							'height.px': 16,
							'background-color': '#D4D4D8',
							width: '20%'
						}"
						count="1"
						appearance="line"
					></ngx-skeleton-loader>
				}
			</div>
		</header>

		<!--TODO: #538: Incluir nuevo componente para incluir dinámicamente todos los tipos multimedia derivados-->
		@if (!!story && !fetchContentDirective.isLoading) {
			@if (!!story.media) {
				@defer {
					<cuentoneta-media-resource [mediaResources]="story.media"></cuentoneta-media-resource>
				}
			}
			@if (!!story.videoUrl) {
				@defer {
					<youtube-player [videoId]="story.videoUrl" placeholderImageQuality="low" />
				}
			}

			@if (!!story.prologues && story.prologues.length > 0) {
				<section class="flex flex-col gap-10 mb-10">
					@for (prologue of story.prologues; track $index) {
						@defer {
							<cuentoneta-story-epigraph [prologue]="prologue"></cuentoneta-story-epigraph>
						}
					}
				</section>
			}
		}

		@if (!!story && !fetchContentDirective.isLoading) {
			<section [lang]="story.language">
				@for (paragraph of story.paragraphs; track $index) {
					<p
						[innerHTML]="paragraph.text"
						[ngClass]="['source-serif-pro-body-xl', paragraph.classes, 'mb-8', 'leading-8']"
					></p>
				}
			</section>
		} @else {
			@for (skeleton of dummyList; track $index) {
				<div class="mb-5">
					<ngx-skeleton-loader></ngx-skeleton-loader>
					<ngx-skeleton-loader></ngx-skeleton-loader>
					<ngx-skeleton-loader></ngx-skeleton-loader>
				</div>
			}
		}

		<footer>
			@if (!!story && !fetchContentDirective.isLoading) {
				@defer {
					<cuentoneta-bio-summary-card [story]="story" />
				}
			}
		</footer>
	</article>
</main>
