<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-button (click)="navigateBack()" [hidden]="!showBackButton">
                <ion-icon name="caret-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-title *ngIf="story">La Cuentoneta: Día {{story.day}}</ion-title>
        </div>
        <ion-buttons slot="end">
            <ion-button (click)="navigateForward()" [hidden]="!showForwardButton">
                <ion-icon name="caret-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
</ion-header>

<ion-content id="ion-text-content" #content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="container ion-justify-content-center" [hidden]="!displayStory">
        <ion-grid class="ion-text-center ion-padding">
            <ion-row>
                <ion-col>
                    <h1><div class="text-title ion-text-wrap">{{story.title}}</div></h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2 class="text-title-small">por {{story.author.name}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h6 class="text-reading-time">~ {{approximateReadingTime}} min.</h6>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="text-prologues ion-padding" *ngIf="story.prologues && story.prologues.length">
            <ion-row *ngFor="let prologue of story.prologues">
                <ion-col size="4" size-md="6"> </ion-col>
                <ion-col size="8" size-md="6">
                    <div class="text-prologue ion-text-justify">
                        {{prologue.text}}
                        <br />
                        <span class="reference"><i>{{prologue.reference}}</i></span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="text-content ion-text-justify ion-padding">
            <ion-row>
                <ion-col>
                    <p
                        *ngFor="let paragraph of story.paragraphs"
                        [ngClass]="{'text-italics': paragraph['italics'], 'text-bold': paragraph['bold']}"
                    >
                        {{paragraph.text}}
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-card id="bottom-notes">
                    <ion-card-header id="bio-header" class="ion-justify-content-between ion-align-items-center">
                        <ion-avatar>
                            <img [src]="story.author.imageUrl" />
                        </ion-avatar>
                        <div>
                            <ion-card-subtitle>Autor</ion-card-subtitle>
                            <ion-card-title>{{story.author.name}}</ion-card-title>
                        </div>
                        <div><img class="country-flag" [src]="story.author.nationality" /></div>
                    </ion-card-header>
                    <div class="ion-text-justify">
                        <ion-card-content id="bio-content"> {{story.author.biography}} </ion-card-content>
                        <ion-card-content id="story-summary">
                            {{story.summary}}
                            <ion-button class="ion-margin-top" (click)="openBio(story.author.fullBioUrl)" expand="full"
                                >Leer biografía completa</ion-button
                            ></ion-card-content
                        >
                    </div>
                </ion-card>
            </ion-row>
        </ion-grid>
    </div>

    <!-- TODO: Implementar BIO para compartir -->

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
            <ion-icon name="share-social"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="favorite" (click)="openSocial('Whatsapp', fab)">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
