<cuentoneta-progress-bar [ngClass]="headerPosition()" />

<div class="content vertical-layout-spacing w-full">
	<aside class="hidden md:block">
		@if (navigationParams(); as navigationParams) {
			<cuentoneta-story-navigation-bar
				[selectedStorySlug]="story().slug"
				[navigation]="navigationParams.navigation"
				[navigationSlug]="navigationParams.navigationSlug"
			/>
		}
	</aside>
	<main>
		<article class="p-5 md:rounded-xl md:bg-neutral-50 md:p-16 md:shadow-lg">
			<header class="mb-6 flex flex-col-reverse sm:mb-10 sm:block">
				<aside class="mt-6 sm:float-right sm:mt-0 sm:mb-12 sm:ml-12">
					<cuentoneta-share-content
						[params]="shareContentParams()"
						[route]="sharingRoute()"
						[message]="shareMessage()"
					/>
				</aside>
				<div>
					@if (story(); as story) {
						<h1 class="h1 mb-2">{{ story.title }}</h1>
						<a
							[routerLink]="['/', appRoutes.Author, story.author.slug]"
							class="mb-2 block flex items-center gap-1 font-inter text-xl"
						>
							{{ story.author.name }}
							<ng-icon name="faSolidArrowRightLong" size="16px" />
						</a>
						<time class="font-inter text-base font-medium text-neutral-600">
							{{ story.approximateReadingTime }} minutos de lectura
						</time>

						@if (story.badLanguage) {
							<p class="mt-2 flex items-center font-inter text-base font-semibold text-brand-500">
								* Contiene lenguaje adulto
							</p>
						}
					} @else {
						<div class="flex flex-col gap-2">
							<cuentoneta-skeleton appearance="line" class="h-[36px] w-1/2 bg-neutral-300" />
							<cuentoneta-skeleton appearance="line" class="h-5 w-1/4 bg-neutral-300" />
							<cuentoneta-skeleton appearance="line" class="h-4 w-1/5 bg-neutral-300" />
						</div>
					}
				</div>
			</header>

			@if (story(); as story) {
				@if (story.media) {
					@defer {
						<cuentoneta-media-resource [mediaResources]="story.media" />
					}
				}

				@if (story.epigraphs && story.epigraphs.length > 0) {
					<section class="mb-10 flex flex-col gap-10">
						@for (epigraph of story.epigraphs; track $index) {
							@defer {
								<cuentoneta-story-epigraph [epigraph]="epigraph" />
							}
						}
					</section>
				}
			}

			@if (story(); as story) {
				<section>
					<cuentoneta-portable-text-parser
						[classes]="'source-serif-xl font-normal mb-8 leading-8'"
						[paragraphs]="story.paragraphs"
					/>
				</section>
			} @else {
				@for (skeleton of dummyList; track $index) {
					<div class="mb-5 flex flex-col gap-2">
						@for (line of [0, 1, 2]; track line) {
							<cuentoneta-skeleton appearance="line" class="h-4 w-full bg-neutral-300" />
						}
					</div>
				}
			}

			<footer>
				@defer (when story()) {
					@if (story(); as story) {
						<cuentoneta-bio-summary-card [story]="story" />
					}
				}
			</footer>
		</article>
	</main>
</div>
