@use 'src/assets/scss/theme.scss' as *;
@use 'src/assets/scss/breakpoints.scss';

:host {
    @media screen and (min-width: breakpoints.$min-md-width) {
        display: grid;
        margin-top: $spacing-28;

        // ToDo: Chequear ancho de sidebar
        grid-template-columns: 286px 1fr;
        column-gap: $spacing-8;
    }
}

article {
  @media screen and (min-width: breakpoints.$min-md-width) {
    box-shadow: $box-shadow-card;
  }
}
