@use 'src/assets/scss/theme.scss' as *;
@use 'src/assets/scss/breakpoints.scss';

:host {
  display: flex;
  flex-direction: column;
  @media (max-width: breakpoints.$max-xs-width) {
    row-gap: $spacing-2;
  }
  @media (min-width: breakpoints.$min-md-width) {
    row-gap: $spacing-4;
  }
}
