@use 'src/assets/scss/theme.scss';

:host {
  display: flex;
  flex-direction: column;
  @media (max-width: $max-xs-width) {
    row-gap: $spacing-2;
  }
  @media (min-width: $min-md-width) {
    row-gap: $spacing-4;
  }
}
