.tooltip-container {
	// Layout
	@apply fixed box-border z-50;
	// Texto
	@apply inter-body-xs-semibold text-center text-white bg-black opacity-0;
	// Spacing
	@apply p-2 rounded w-auto;
	// Interactividad
	@apply pointer-events-none;
	// Transformaciones
	@apply translate-x-1/2 translate-y-1/2;
	&::before {
		@apply bg-black p-1;
		@apply z-40 absolute rotate-45;
		@apply content-blank;
	}
}

.top {
	@apply -top-[40px] -left-1/2;
	&::before {
		top: 80%;
		left: 45%;
	}
}

.bottom {
	@apply top-[25px] -left-1/2;
	&::before {
		top: -5%;
		left: 45%;
	}
}

.left {
	@apply -top-2 end-5/4;
	&::before {
		top: 35%;
		left: 94%;
	}
}

.right {
	@apply -top-2 end-5/4;
	&::before {
		top: 35%;
		left: -2%;
	}
}

// Animaciones
.tooltip-container {
	animation: tooltip-slide 0.18s ease-out 0.5s;
	animation-fill-mode: forwards;
}
@keyframes tooltip-slide {
	0% {
		opacity: 0;
		transform: translate(-50%, -30%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}
