// Font families
$inter-font-family: 'Inter', sans-serif;
$source-serif-pro-font-family: 'Source Serif Pro', sans-serif;

// Font weights
$inter-font-weight-bold: 700;
$inter-font-weight-semibold: 600;
$inter-font-weight-medium: 500;
$inter-font-weight-regular: 400;

$source-serif-pro-font-weight-regular: 400;

// Colors
$primary-200: hsl(11, 78%, 93%);

$gray-100: hsl(240, 5%, 96%);
$gray-200: hsl(240, 6%, 90%);
$gray-700: hsl(240, 5%, 26%);

$interactive-500: hsl(212, 70%, 45%);

// Border radius
$rounded: 4px;
$rounded-md: 6px;

$letter-spacing: 0px;

// Font size mixins

// region Inter font sizing mixins
@mixin inter-body-xl {
	font-family: $inter-font-family;
	font-size: 1.25rem;
	line-height: 30px;
	letter-spacing: $letter-spacing;
}

@mixin inter-body-lg {
	font-family: $inter-font-family;
	font-size: 1.125rem;
	line-height: 28px;
	letter-spacing: $letter-spacing;
}

@mixin inter-body-base {
	font-family: $inter-font-family;
	font-size: 1rem;
	line-height: 24px;
	letter-spacing: $letter-spacing;
}

@mixin inter-body-sm {
	font-family: $inter-font-family;
	font-size: 0.875rem;
	line-height: 22px;
	letter-spacing: $letter-spacing;
}

@mixin inter-body-xs {
	font-family: $inter-font-family;
	font-size: 0.75rem;
	line-height: 18px;
	letter-spacing: $letter-spacing;
}
// endregion

// Body font size & weight mixins

// region Inter Body
@mixin inter-body-xl-bold {
	@include inter-body-xl;
	font-weight: $inter-font-weight-bold;
}

@mixin inter-body-lg-semibold {
	@include inter-body-lg;
	font-weight: $inter-font-weight-semibold;
}

@mixin inter-body-base-semibold {
	@include inter-body-base;
	font-weight: $inter-font-weight-semibold;
}

@mixin inter-body-base-medium {
	@include inter-body-base;
	font-weight: $inter-font-weight-medium;
}

@mixin inter-body-base-regular {
	@include inter-body-base;
	font-weight: $inter-font-weight-regular;
}

@mixin inter-body-sm-bold {
	@include inter-body-sm;
	font-weight: $inter-font-weight-bold;
}

@mixin inter-body-xs-bold {
	@include inter-body-xs;
	font-weight: $inter-font-weight-bold;
}

@mixin inter-body-xs-medium {
	@include inter-body-xs;
	font-weight: $inter-font-weight-medium;
}

// endregion

// region Spacing

// La unidad de medida para cada variable de spacing debe ser
// multiplicada por 4 para obtener la magnitud en píxels.
// Así, spacing-5 -> 20px, spacing-32 -> 128px, etc.
//
// 0.25 rem, o 4px para un tamaño base de fuente de texto de 16px,
// es la unidad atómica de spacing para el proyecto.
//
// Info en MDN: https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Values_and_units

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-4: 16px;
$spacing-6: 24px;
$spacing-8: 32px;
$spacing-16: 64px;
// endregion

// region Shadows & Elevations

// TODO: Incorporar sombras de hover a config de Tailwind
$box-shadow-card-hover: 0px 12px 16px rgba(63, 63, 70, 0.12);

// endregion

body {
	font-family: $source-serif-pro-font-family;
	background-color: $gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $inter-font-family;
}

h1,
.h1 {
	@apply text-4xl font-bold tracking-normal;
}

h2,
.h2 {
	@apply text-3xl font-bold tracking-normal;
}

h3,
.h3 {
	@apply text-xl font-medium tracking-normal;
	@apply lg:text-2xl lg:font-bold;
}

.hero h1 {
	@apply mb-5 lg:text-6xl lg:font-extrabold;
}

@mixin card {
	@apply bg-gray-50 rounded-lg shadow-lg;
}
