body {
	@apply bg-gray-100 font-source-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-inter;
}

h1,
.h1 {
	@apply text-4xl font-bold tracking-normal;
}

h2,
.h2 {
	@apply text-3xl font-bold tracking-normal;
}

h3,
.h3 {
	@apply text-xl font-medium tracking-normal;
	@apply lg:text-2xl lg:font-bold;
}
