@use 'src/assets/scss/theme.scss' as theme;

:host {
	@apply flex items-center justify-center;
}

a {
	@apply w-12 h-12 rounded-full;
	border: 1px solid theme.$gray-200;
	background-color: theme.$gray-100;
	&:hover {
		background-color: theme.$gray-200;
	}
}

img {
	@apply m-3 w-6 h-6;
}
