@use 'src/assets/scss/theme.scss' as *;

footer {
    margin-top: 120px;
    width: 100%;
    background-color: white;
    border-top: 1px solid $primary-500;

    .social img {
        width: 20px;
        height: 20px;
        max-width: unset;
    }

    @media screen and (max-width: $max-xs-width) {
        padding: $spacing-8 $spacing-5;
    }
    @media screen and (min-width: $min-sm-width) {
        height: 98px;
    }
}

.container {
    width: unset;
    max-width: 1240px;
    display: grid;

    @media screen and (max-width: $max-sm-width) {
        grid-template-columns: 1fr;
        grid-gap: $spacing-6;
    }

    @media screen and (min-width: $min-sm-width) and (max-width: $max-md-width) {
        grid-template-columns: 0.15fr 1fr 0.4fr;
        margin: 0 $spacing-5;
    }

    @media screen and (min-width: $min-lg-width) {
        grid-template-columns: 0.25fr 1fr 0.25fr;
        margin: auto;
    }
}

section {
    &.navigation {
        @include inter-body-sm-semibold;
        li:hover {
            color: $interactive-500;
        }

        li {
            @media screen and (max-width: $max-xs-width) {
                @include inter-body-xs-bold;
            }

            &:not(:last-child) {
                @media screen and (max-width: $max-xs-width) {
                    margin-right: $spacing-3;
                    @include inter-body-xs-bold;
                }
                @media screen and (min-width: $min-sm-width) and (max-width: $max-md-width) {
                    margin-right: $spacing-8;
                }
                @media screen and (min-width: $min-lg-width) {
                    margin-right: $spacing-12;
                }
            }
        }
    }

    &.social {
        @media screen and (min-width: $min-sm-width) {
            margin-left: auto;
        }

        li {
            &:not(:last-child) {
                @media screen and (max-width: $max-md-width) {
                    margin-right: $spacing-8;
                }
                @media screen and (min-width: $min-sm-width) {
                    margin-right: $spacing-6;
                }
            }
        }
    }
}
