<footer>
    <div class="container items-center justify-between h-full">
        <section class="logo">
            <img width="49" height="26" [ngSrc]="'./assets/svg/logo.svg'" />
        </section>
        <section class="navigation">
            <nav>
                <ul class="flex justify-between lg:justify-center">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/about">Nosotros</a></li>
                    <li><a routerLink="/dmca">DMCA</a></li>
                </ul>
            </nav>
        </section>
        <section class="social">
            <nav>
                <ul class="flex">
                    <li>
                        <a href="https://twitter.com/cuentoneta"><img width="22" height="22" [ngSrc]="'assets/svg/twitter.svg'" /></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cuentoneta/"><img width="22" height="22" [ngSrc]="'assets/svg/instagram.svg'" /></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/lacuentoneta"><img width="22" height="22" [ngSrc]="'assets/svg/facebook.svg'" /></a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</footer>
