<header>
	<section class="logo flex items-center">
		<a routerLink="/home" class="flex">
			<img [ngSrc]="'./assets/svg/logo.svg'" class="mr-3" width="59" height="32" alt="Logo de 'La Cuentoneta'" />
			<h1 class="flex items-center">La Cuentoneta</h1>
		</a>
	</section>

	<section class="navigation flex items-center justify-end">
		<nav>
			<ul class="flex hidden md:flex">
				<ng-container *ngTemplateOutlet="navigationLinks"></ng-container>
			</ul>
			<div (click)="onMenuTogglerClicked($event)" class="md:hidden">
				<img
					[alt]="'Imagen del menú móvil del sitio'"
					[ngSrc]="'./assets/svg/menu.svg'"
					width="24"
					height="24"
					alt="Ícono de menú de hamburguesa de 'La Cuentoneta'"
				/>
			</div>
		</nav>
	</section>

	@if (displayMenu) {
		<section class="menu grid-cols-2 grid-rows-2 mb-8 block md:hidden">
			<ul>
				<ng-container *ngTemplateOutlet="navigationLinks"></ng-container>
			</ul>
		</section>
	}
</header>

<ng-template #navigationLinks>
	<li><a routerLink="/home">Inicio</a></li>
	<li><a routerLink="/about">Nosotros</a></li>
</ng-template>
