@import 'src/assets/scss/theme.scss';

:host {
    header {
        @media screen and (max-width: $max-md-width) {
            margin: 0 20px;
        }

        height: 80px;

        .container {
            margin: auto;
            max-width: 1240px;
        }

        section {
            &.logo {
                img {
                    margin-right: 12px;
                }
            }

            &.navigation {
                nav {
                    @media screen and (max-width: $max-xs-width) {
                        > ul {
                            display: none;
                        }
                    }
                    @media screen and (min-width: $min-sm-width) {
                        div {
                            display: none;
                        }
                    }
                }

                @include inter-body-sm-semibold;
                li:hover {
                    color: $interactive-500;
                }
            }
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-right: $spacing-12;
                }
            }
        }
    }
}
