@use 'src/assets/scss/theme.scss' as theme;
@use 'src/assets/scss/breakpoints.scss';

header {
	@apply grid;
    @apply mx-5 my-0 md:m-auto;
	@apply min-h-20 max-w-screen-lg;

	// Layout de grid para vistas md y superiores
	@apply grid-cols-[1fr_theme(spacing.6)] grid-rows-[theme(spacing.20)_1fr];
	// Layout de grid para vistas sm y menores
	@apply md:grid-cols-2 md:grid-rows-1;
}

section {
	&.navigation {
		nav {
			@media screen and (min-width: breakpoints.$min-md-width) {
				ul {
					li {
						&:not(:last-child) {
							margin-right: theme.$spacing-12;
						}
					}
				}
			}
		}
	}

	&.menu {
		> ul {
			li {
				@include theme.inter-body-lg-semibold;
				height: theme.$spacing-12;
				border-bottom: 2px solid theme.$gray-200;
				display: flex;
				align-items: center;
			}
		}
	}
}

ul {
	@include theme.inter-body-sm-semibold;
	li:hover {
		color: theme.$interactive-500;
	}
}

h1 {
	font-size: 1.125rem;
	line-height: 1.375rem;
	letter-spacing: 0;
	font-weight: theme.$inter-font-weight-bold;
}
