@use 'src/assets/scss/theme.scss' as *;

main {
    @include card;
    display: block;
    background-color: $gray-50;
    padding: $spacing-5;
  
    @media screen and (max-width: $max-sm-width) {
      margin-left: -$spacing-5;
      margin-right: -$spacing-5;
    }
  
    @media screen and (min-width: $min-md-width) {
      border-radius: $rounded-xl;
      box-shadow: $box-shadow-card;
      padding: $spacing-15;
    }  
}

.title {
    margin-bottom: $spacing-5;
}
  
.subtitle {
    color: $gray-600;
    margin-bottom: $spacing-5;
}

p,
li {
  @include inter-body-base-regular;
}

a {
  text-decoration: underline;
}