@import 'src/assets/scss/theme.scss';

:host {
  @include card;
  border: 1px solid $primary-300;
  display: block;

  article {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    margin-bottom: $spacing-1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include inter-body-xl-bold;
  }

  .content {
    @media (max-width: $max-xs-width) {
      display: none;
    }
    @media (min-width: $min-sm-width) {
      @include source-serif-pro-body-base;
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      text-align: justify;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-height: 72px;
    }
  }

  .reading-time {
    @include inter-body-xs-medium;
    font-weight: 600;
    color: $gray-600;
  }

  .author-info {
    .author-image {
      border-radius: $spacing-1;
      height: $spacing-10;
      width: $spacing-10;
      margin-right: $spacing-3;
    }
    .author-name {
      @include inter-body-base-semibold;
    }
    .flag {
      border-radius: $rounded;
      height: 15px;
      width: 20px;
    }
    .country {
      color: $gray-500;
      margin-left: $spacing-2;
      @include inter-body-sm-semibold;
    }
  }
}
