<article>
    <ng-container *ngIf="!!story; else skeleton">
        <header class="card-header">
            <cuentoneta-story-edition-date-label
                [label]="editionPrefix + ' ' + story.day + ' - ' + story.publishedAt"
            ></cuentoneta-story-edition-date-label>
        </header>
        <section>
            <h1 class="card-title">{{ story.title }}</h1>
            <!-- ToDo: Optimizar payload tratado para mostrar el resumen de cada tarjeta (#115)-->
            <p class="content" [innerHTML]="story.paragraphs[0] + ' ' + story.paragraphs[1]"></p>
        </section>
        <label class="reading-time">{{ story.approximateReadingTime }} minutos</label>
        <hr />
        <footer class="author-info flex flex-row items-center">
            <img
                class="author-image"
                [alt]="'Retrato de ' + story.author.name"
                width="40"
                height="40"
                [ngSrc]="story.author.imageUrl"
            />
            <div>
                <label class="author-name">{{ story.author.name }}</label>
                <ng-container *ngIf="story.author.nationality as nationality">
                    <div class="flex items-center">
                        <img class="flag" width="20" height="15" [ngSrc]="nationality.flag" />
                        <label class="country">{{ nationality.country }}</label>
                    </div>
                </ng-container>
            </div>
        </footer>
    </ng-container>
</article>

<ng-template #skeleton>
    <ngx-skeleton-loader count="6" appearance="line"></ngx-skeleton-loader>
</ng-template>
