<section>
  <header>
    <ng-container *ngIf="storylist && storylist.title; else titleSkeleton">
      <a [routerLink]="'/' + appRouteTree['STORYLIST']" [queryParams]="{ slug: storylist.slug }">
        <h3 class="storylist-title">{{ storylist.title }}</h3>
      </a>
    </ng-container>
  </header>

  <ng-container *ngIf="!!storylist; else bodySkeleton">
    <ng-container *ngFor="let publication of storylist.publications">
      <a
        [routerLink]="
          publication.published ? ['/' + appRouteTree['STORY']] : null
        "
        [queryParams]="{ slug: publication.story.slug, list: storylist.slug }"
      >
        <article>
          <cuentoneta-story-edition-date-label
            class="edition-and-label"
            [label]="
              publication.published
                ? getEditionLabel(publication, publication.order)
                : storylist.comingNextLabel
            "
          />
          <ng-container *ngIf="publication.published; else comingNext"
            ><h4 class="title">{{ publication.story.title }}</h4>
            <h5 class="author">
              {{ publication.story.author.name }}
            </h5></ng-container
          >
        </article>
      </a>
    </ng-container>
  </ng-container>

  <!-- ToDo: #288 - Generar abstracción para evitar repetir lógica presente en el header (ver líneas 2 - 9)-->
  <footer *ngIf="storylist && storylist.publications.length > 10">
    <ng-container *ngIf="storylist; else titleSkeleton">
      <a [routerLink]="'/' + appRouteTree['STORYLIST']" [queryParams]="{ slug: storylist.slug }">
        <h3 class="storylist-title">Ver más...</h3>
      </a>
    </ng-container>
  </footer>
</section>

<ng-template #comingNext>
  <ngx-skeleton-loader
    count="2"
    appearance="line"
    animation="false"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #titleSkeleton>
  <ngx-skeleton-loader
    count="2"
    appearance="line"
    [theme]="{
      'height.px': 15,
      'background-color': '#D4D4D8'
    }"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #bodySkeleton>
  <article *ngFor="let skeleton of dummyList">
    <ngx-skeleton-loader count="2" appearance="line"></ngx-skeleton-loader>
  </article>
</ng-template>
