@import 'src/assets/scss/theme.scss';

@mixin card-spacing {
    padding: $spacing-5 $spacing-7;
}

section {
    @include card;
    background-color: $gray-200;
    border-radius: $rounded-xl;

    .header {
        position: relative;
        .tooltip {
            visibility: hidden;
            position: absolute;
            z-index: 2;
            color: white;
            padding: 10px 15px;
            background-color: black;
            border-radius: 10px;
            left: 106%;
            top: 1rem;
            width: 10.5rem;
            text-align: center;
            font-size: 1rem;

            &::before {
                content: "";
                position: absolute;
                background-color: black;
                transform: rotate(45deg);
                padding: 5px;
                z-index: 1;
                left: -2%;
                top: 35%;
            }
        }
    }

    .header:hover .tooltip {
        visibility: visible;
    }


    header,
    footer {
        @include card-spacing;
        background-color: $gray-50;
        .story-list-title {
            @include inter-body-xl-bold;
        }
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2px;

    article {
        @include card-spacing;
        background-color: $gray-50;

        .edition-and-label {
            margin-bottom: $spacing-2;
        }
        .title {
            @include inter-body-sm-bold;
            margin-bottom: $spacing-2;
        }
        .author {
            @include inter-body-sm-regular;
        }
    }
}
