<main class="content vertical-layout-spacing horizontal-layout-spacing">
	@if (author(); as author) {
	<h1 class="font-inter text-4xl leading-10 font-bold text-neutral-900">{{ author.name }}</h1>
	<div [innerHTML]="author.biography" class="source-serif-xl flex flex-col gap-4" data-testid="biography"></div>
	<div class="flex flex-col gap-9" data-testid="literary-works">
		@for (literaryWork of literaryWorks(); track literaryWork._id; let index = $index) {
		<cuentoneta-literary-work-card-teaser
			[literaryWork]="literaryWork"
			[order]="index + 1"
			[showExcerpt]="true"
			[navigationParams]="{
				navigation: 'author',
				navigationSlug: author.slug,
			}"
		/>
		}
	</div>
	}
</main>
