<main class="lg:mt-16">
	<section class="mb-16 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-0">
		<div class="lg:w-[550px]">
			<h1 class="h1 mb-5 lg:text-6xl lg:font-extrabold">Historias para disfrutar, compartir y aprender</h1>
			<h3 class="h3 mb-5 text-gray-600">
				Una iniciativa que busca fomentar y hacer accesible la lectura digital, publicando literatura breves en nuestras
				<em>storylists</em> temáticas. ¡Subite a La Cuentoneta!
			</h3>
		</div>
		<div class="ml-auto">
			<img [ngSrc]="'./assets/svg/illustration.svg'" width="506" height="400" alt="" />
		</div>
	</section>

	<section class="-mx-5 block rounded-lg bg-gray-50 p-5 shadow-lg sm:mx-0 md:rounded-xl md:p-15">
		<!-- Sección de presentación del proyecto -->
		<section id="presentation" class="mb-8">
			<h2 class="h2 mb-5 text-gray-600">Sobre <em>La Cuentoneta</em></h2>
			<p class="inter-body-base-regular">
				<strong>La Cuentoneta</strong> es un proyecto abierto y sin fines de lucro que busca generar un espacio
				comunitario para difundir escritos en literatura breve. Esta iniciativa fue gestada originalmente por un grupo
				de amigas y amigos residentes de la ciudad de Santa Fe, Argentina durante los últimos días de diciembre de 2021.
			</p>
			<br />
			<p class="inter-body-base-regular">
				Nuestra misión es construir colectivamente una plataforma accesible, amigable y gamificada que sea útil para
				fomentar, compartir y disfrutar la lectura digital. Buscamos lograrlo a través de la publicación de escritos
				breves en storylists temáticas, emulando las playlists que utilizan plataformas de audio como Spotify y de video
				como YouTube; intentando resignificar el formato de antología de relatos breves.
			</p>
		</section>

		<!-- Sección sobre Contribuciones -->
		<section id="contributors" class="mb-8">
			<h2 class="h2 mb-5 text-gray-600">¿Cómo puedo Contribuir?</h2>
			<p class="inter-body-base-regular">
				Podés sumar tu granito de arena al desarrollo de La Cuentoneta de varias formas, algunas de las cuales se
				describen a continuación. Como agradecimiento por tu aporte te agregaremos a la sección de
				<a [href]="links.GITHUB_CONTRIBUTORS" class="underline">contribuyentes</a> y podrás, además, portar el badge
				<strong>Cuentoneta 🚐</strong> en el servidor de
				<a [href]="links.DISCORD_CHANNEL" class="underline">Discord de FrontendCafé</a>.
			</p>

			<section class="mb-3 mt-3">
				<h3 class="h3">📢 Difundiendo</h3>
				<p class="inter-body-base-regular">
					Si te gusta el proyecto, podés ayudarnos difundiéndolo en tus redes sociales, compartiendo los contenidos que
					publicamos, y recomendándolo a otras personas. Llegar cada vez a más personas hará que podamos mejorar la
					plataforma y descubrir qué funcionalidades nuevas son más necesarias a futuro. La Cuentoneta tiene cuentas
					oficiales en
					<a [href]="links.FACEBOOK" class="underline">Facebook</a>,
					<a [href]="links.INSTAGRAM" class="underline">Instagram</a> y
					<a [href]="links.TWITTER" class="underline">Twitter</a>
				</p>
			</section>

			<section class="mb-3">
				<h3 class="h3">💡 Sugiriendo correcciones y nuevas funcionalidades</h3>
				<p class="inter-body-base-regular">
					Si tenés una idea para una nueva funcionalidad o realizar alguna corrección o mejora , podés comunicarte con
					el equipo de desarrollo vía el
					<a [href]="links.DISCORD_CHANNEL" class="underline">Discord de FrontendCafé</a>
					o vía mail a
					<a class="underline" href="mailto:contacto@cuentoneta.ar">contacto&#64;cuentoneta.ar</a>
					para ponernos en contacto y discutir tu propuesta.
				</p>
			</section>

			<section class="mb-3">
				<h3 class="h3">📜 Sumando contenidos</h3>
				<p class="inter-body-base-regular">
					Podés sugerir contenido para sumar a la plataforma, sea en forma de cuentos, poemas, ensayos o temáticas para
					nuevas storylists. El contenido puede ser escritura propia o de terceros, con previos permisos de publicación
					o disponibilidad de acceso a este contenido en la web abierta.
				</p>
				<p class="inter-body-base-regular">
					Estamos trabajando para, a futuro, ir en busca de autores y autoras de cuentos y poemas de autoría original
					que deseen publicar sus obras en La Cuentoneta, como así también de personas que deseen leer cuentos para
					publicarlos en versión audiolibro.
				</p>
				<p class="inter-body-base-regular">
					En caso de que decidas aportar un escrito o relato de tu autoría, también incluiremos tu perfil de autor en la
					plataforma.
				</p>
			</section>

			<section class="mb-3">
				<h3 class="h3">🎨 Diseño UX/UI</h3>
				<p class="inter-body-base-regular">
					Si tenés habilidades en diseño UX/UI, podés contribuir al proyecto asistiendo en la creación de wireframes,
					mockups, y prototipos para mejorar características existentes de la plataforma y contribuir en la gestación de
					nuevas funcionalidades.
				</p>
				<p class="inter-body-base-regular">
					Podés acceder a <a [href]="links.FIGMA" class="underline">este enlace de Figma</a> para ver los diseño de la
					web y todos los recursos gráficos del proyecto.
				</p>
			</section>

			<section class="mb-3">
				<h3 class="h3">🖥️ Programando</h3>
				<p class="inter-body-base-regular">
					Si sos desarrolladora o desarrollador, podés contribuir al proyecto mediante la creación de issues, pull
					requests, revisando código, y más en nuestro
					<a [href]="links.GITHUB_REPO" class="underline">repositorio de Github</a>. Para ello, te recomendamos leer la
					<a [href]="links.CONTRIBUTING" class="underline">guía de contribución</a> para que puedas familiarizarte con
					el proyecto y sus convenciones.
				</p>
			</section>
		</section>

		<!-- Sección "Comunidad" -->
		<section id="community" class="mb-8">
			<h2 class="h2 mb-5 text-gray-600">Comunidad</h2>
			<img
				alt="logo-frontendcafe"
				src="https://user-images.githubusercontent.com/78808163/228854353-cbd1f9b2-68a3-4cf0-851c-d2c49b3eb85c.svg"
			/>
			<p class="inter-body-base-regular">
				Este proyecto se desarrolla con la participación y el apoyo de FrontendCafé. Es requerido unirte a nuestro
				server y buscar el canal
				<code><a [href]="links.DISCORD_CHANNEL" class="underline">#🚐 | la-cuentoneta</a></code
				>. Allí vas a poder escribir consultas, realizar propuestas y compartir ideas para el proyecto. El código de
				conducta de este proyecto es extensible también a tu participación en el server de
				<a [href]="links.DISCORD_SERVER" class="underline">FrontendCafé en Discord</a>.
			</p>
		</section>

		<!-- Sección de staff y contribuyentes del proyecto -->
		<section id="people" class="mb-8">
			<h2 class="h2 mb-5 text-gray-600">Hacemos <em>La Cuentoneta</em></h2>

			<section class="mb-3">
				<h3 class="h3">Staff</h3>
				<ul>
					<li class="inter-body-base-regular">
						Ramiro Olivencia - <em>Líder de Proyecto</em> (<a [href]="'https://twitter.com/rolivenc'" class="underline"
							>&#64;rolivenc</a
						>)
					</li>
					<li class="inter-body-base-regular">
						Maxi Cris - <em>Diseño UX/UI</em> (<a [href]="'https://twitter.com/_maxicris'" class="underline"
							>&#64;maxicris</a
						>)
					</li>
				</ul>
			</section>

			<section class="mb-3">
				<h3 class="h3">Programación</h3>
				<ul>
					@for (programmer of programmers; track programmer.name) {
						<li class="inter-body-base-regular">
							{{ programmer.name }} (<a class="underline" href="{{ programmer.url }}">{{ programmer.username }}</a
							>)
						</li>
					}
				</ul>
			</section>

			<section class="mb-3">
				<h3 class="h3">Generación de contenido</h3>
				<ul>
					<li class="inter-body-base-regular">
						Sofía Abramovich (<a [href]="'https://twitter.com/__sofiaabigail'" class="underline">&#64;__sofiaabigail</a
						>) - Autora de
						<i>Instrucciones para leer en Otoño </i>
					</li>
					<li class="inter-body-base-regular">
						Marian Erro (<a [href]="'https://twitter.com/MarianaErro'" class="underline">&#64;marianerro</a>) - Autoría
						de
						<i>Verano en Naón</i>
					</li>
					<li class="inter-body-base-regular">
						Ladrón de Säbado (<a [href]="'https://twitter.com/ladrondesabado'" class="underline">&#64;ladrondesabado</a
						>) - Propuesta y organización de los Spaces <i>Desde el Sótano de la Casa de la Calle Garay</i>, con
						lecturas y análisis de cuentos de Borges.
					</li>
					<li class="inter-body-base-regular">
						Elk A. (<a [href]="'https://www.wattpad.com/user/A-Elkkk-o-k'" class="underline">&#64;A-Elkkk-o-k</a>) -
						Autoría de
					</li>
				</ul>
			</section>

			<section class="mb-3">
				<h3 class="h3">Selección, transcripción y curación de contenido</h3>
				<ul>
					<li class="inter-body-base-regular">
						Patricio Decoud (<a [href]="'https://twitter.com/arroba_pato'" class="underline">&#64;arrobapato</a>)
					</li>
					<li class="inter-body-base-regular">
						Juan Balmaceda (<a [href]="'https://twitter.com/balm4ceda'" class="underline">&#64;balm4ceda</a>)
					</li>
					<li class="inter-body-base-regular">
						Facundo Kaufmann (<a [href]="'https://twitter.com/facukaufmann'" class="underline">&#64;facukaufmann</a>)
					</li>
					<li class="inter-body-base-regular">
						Candela Godoy (<a [href]="'https://twitter.com/napsiex'" class="underline">&#64;napsiex</a>)
					</li>
					<li class="inter-body-base-regular">
						Analía Ale (<a [href]="'https://www.linkedin.com/in/anal%C3%ADa-ale-5673a6204/'" class="underline"
							>&#64;analía-ale</a
						>)
					</li>
					<li class="inter-body-base-regular">
						Brahian Pereyra (<a [href]="'https://twitter.com/brahianpdev'" class="underline">&#64;brahianpdev</a>)
					</li>
					<li class="inter-body-base-regular">
						Juan Romero (<a [href]="'https://www.linkedin.com/in/juanr0mer0'" class="underline">&#64;juanr0mer0</a>)
					</li>
					<li class="inter-body-base-regular">
						Luis Omar Sánchez Díaz (<a [href]="'https://www.instagram.com/luisthepower/'" class="underline"
							>&#64;luisthepower</a
						>)
					</li>
					<li class="inter-body-base-regular">
						Karla Nevárez (<a [href]="'mailto:kanemu36@gmail.com'" class="underline">kanemu36&#64;gmail.com</a>)
					</li>
					<li class="inter-body-base-regular">Sebastián Mansilla</li>
					<li class="inter-body-base-regular">
						Lolo Díaz (<a [href]="'https://instagram.com/estre.sadx'" class="underline">&#64;estre.sadx</a>)
					</li>
					<li class="inter-body-base-regular">
						Nicolás Contrera (<a [href]="'https://twitter.com/nicontrera1'" class="underline">&#64;nicontrera1</a>)
					</li>
				</ul>
			</section>
		</section>
	</section>
</main>
