@use 'src/assets/scss/theme.scss' as theme;

.content {
  @include theme.card;
  display: block;
  background-color: theme.$gray-50;
  padding: theme.$spacing-5;

  @media screen and (max-width: theme.$max-sm-width) {
    margin-left: -(theme.$spacing-5);
    margin-right: -(theme.$spacing-5);
  }

  @media screen and (min-width: theme.$min-md-width) {
    border-radius: theme.$rounded-xl;
    box-shadow: theme.$box-shadow-card;
    padding: theme.$spacing-15;
  }
}

.title {
  margin-bottom: theme.$spacing-5;
}

.subtitle {
  color: theme.$gray-600;
  margin-bottom: theme.$spacing-5;
}

h3 {
  margin-bottom: theme.$spacing-3;
}

p,
li {
  @include theme.inter-body-base-regular;
}

a {
  text-decoration: underline;
}
