<main class="lg:mt-28">
  <h1 class="title">Nosotros</h1>

  <!-- Sección de presentación del proyecto -->
  <section id="presentation" class="mb-8">
    <h2 class="subtitle">Sobre <em>La Cuentoneta</em></h2>
    <p>
      <strong>La Cuentoneta</strong> es un proyecto abierto y sin fines de lucro
      que busca generar un espacio comunitario para difundir escritos en
      literatura breve. Esta iniciativa fue gestada originalmente por un grupo
      de amigues residentes de la ciudad de Santa Fe, Argentina durante los
      últimos días de diciembre de 2021.
    </p>
    <br />
    <p>
      Nuestra misión es construir colectivamente una plataforma accesible,
      amigable y gamificada que sea útil para fomentar, compartir y disfrutar la
      lectura digital. Buscamos lograrlo a través de la publicación de escritos
      breves en storylists temáticas, emulando las playlists que utilizan
      plataformas de audio como Spotify y de video como YouTube; intentando
      resignificar el formato de antología de relatos breves.
    </p>
  </section>

  <!-- Sección sobre Contribuciones -->
  <section id="contributors" class="mb-8">
    <h2 class="subtitle">¿Cómo puedo Contribuir?</h2>
    <p>
      Podés sumar tu granito de arena al desarrollo de La Cuentoneta de varias
      formas, algunas de las cuales se describen a continuación. Como
      agradecimiento por tu aporte te agregaremos a la sección de
      <a [href]="links.GITHUB_CONTRIBUTORS">contribuyentes</a> y podrás, además,
      portar el badge <strong>Cuentoneta 🚐</strong> en el servidor de
      <a [href]="links.DISCORD_CHANNEL">Discord de FrontendCafé</a>.
    </p>

    <section class="mb-3 mt-3">
      <h3>📢 Difundiendo</h3>
      <p>
        Si te gusta el proyecto, podés ayudarnos difundiéndolo en tus redes
        sociales, compartiendo los contenidos que publicamos, y recomendándolo a
        otras personas. Llegar cada vez a más personas hará que podamos mejorar
        la plataforma y descubrir qué funcionalidades nuevas son más necesarias
        a futuro. La Cuentoneta tiene cuentas oficiales en
        <a [href]="links.FACEBOOK">Facebook</a>,
        <a [href]="links.INSTAGRAM">Instagram</a> y
        <a [href]="links.TWITTER">Twitter</a>
      </p>
    </section>

    <section class="mb-3">
      <h3>💡 Sugiriendo correcciones y nuevas funcionalidades</h3>
      <p>
        Si tenés una idea para una nueva funcionalidad o realizar alguna
        corrección o mejora , podés comunicarte con el equipo de desarrollo vía
        el
        <a [href]="links.DISCORD_CHANNEL">Discord de FrontendCafé</a>
        o vía mail a
        <a href="mailto:contacto@cuentoneta.ar">contacto@cuentoneta.ar</a>
        para ponernos en contacto y discutir tu propuesta.
      </p>
    </section>

    <section class="mb-3">
      <h3>📜 Sumando contenidos</h3>
      <p>
        Podés sugerir contenido para sumar a la plataforma, sea en forma de
        cuentos, poemas, ensayos o temáticas para nuevas storylists. El
        contenido puede ser escritura propia o de terceros, con previos permisos
        de publicación o disponibilidad de acceso a este contenido en la web
        abierta.
      </p>
      <p>
        Estamos trabajando para, a futuro, ir en busca de autores y autoras de
        cuentos y poemas de autoría original que deseen publicar sus obras en La
        Cuentoneta, como así también de personas que deseen leer cuentos para
        publicarlos en versión audiolibro.
      </p>
      <p>
        En caso de que decidas aportar un escrito o relato de tu autoría,
        también incluiremos tu perfil de autor en la plataforma.
      </p>
    </section>

    <section class="mb-3">
      <h3>🎨 Diseño UX/UI</h3>
      <p>
        Si tenés habilidades en diseño UX/UI, podés contribuir al proyecto
        asistiendo en la creación de wireframes, mockups, y prototipos para
        mejorar características existentes de la plataforma y contribuir en la
        gestación de nuevas funcionalidades.
      </p>
      <p>
        Podés acceder a <a [href]="links.FIGMA">este enlace de Figma</a> para
        ver los diseño de la web y todos los recursos gráficos del proyecto.
      </p>
    </section>

    <section class="mb-3">
      <h3>🖥️ Programando</h3>
      <p>
        Si sos desarrolladora o desarrollador, podés contribuir al proyecto
        mediante la creación de issues, pull requests, revisando código, y más
        en nuestro
        <a [href]="links.GITHUB_REPO">repositorio de Github</a>. Para ello, te
        recomendamos leer la
        <a [href]="links.CONTRIBUTING">guía de contribución</a> para que puedas
        familiarizarte con el proyecto y sus convenciones.
      </p>
    </section>
  </section>

  <!-- Sección "Comunidad" -->
  <section id="community" class="mb-8">
    <h2 class="subtitle">Comunidad</h2>
    <img
      alt="logo-frontendcafe"
      src="https://user-images.githubusercontent.com/78808163/228854353-cbd1f9b2-68a3-4cf0-851c-d2c49b3eb85c.svg"
    />
    <p>
      Este proyecto se desarrolla con la participación y el apoyo de
      FrontendCafé. Es requerido unirte a nuestro server y buscar el canal
      <code><a [href]="links.DISCORD_CHANNEL">#🚐 | la-cuentoneta</a></code
      >. Allí vas a poder escribir consultas, realizar propuestas y compartir
      ideas para el proyecto. El código de conducta de este proyecto es
      extensible también a tu participación en el server de
      <a [href]="links.DISCORD_SERVER">FrontendCafé en Discord</a>.
    </p>
  </section>

  <!-- Sección de staff y contribuyentes del proyecto -->
  <section id="people" class="mb-8">
    <h2 class="subtitle">Hacemos <em>La Cuentoneta</em></h2>

    <section class="mb-3">
      <h3>Staff</h3>
      <ul>
        <li>Ramiro Olivencia - <em>Líder de Proyecto</em></li>
        <li>Maxi Cris - <em>Diseño UX/UI</em></li>
      </ul>
    </section>

    <section class="mb-3">
      <h3>Programación</h3>
      <ul>
        <li>Erik Giovani</li>
        <li>Juan Blas Tschopp</li>
      </ul>
    </section>

    <section class="mb-3">
      <h3>Escritura de textos</h3>
      <ul>
        <li>
          Sofía Abramovich - Autora de
          <em>Instrucciones para leer en Otoño </em>
        </li>
      </ul>
    </section>

    <section class="mb-3">
      <h3>Selección, transcripción y curación de contenido</h3>
      <ul>
        <li>Patricio Decoud</li>
        <li>Juan Balmaceda</li>
        <li>Facundo Kaufmann</li>
        <li>Candela Godoy</li>
        <li>Analía Ale</li>
        <li>Brahian Pereyra</li>
      </ul>
    </section>
  </section>
</main>
