@use 'src/assets/scss/theme.scss';
@use 'src/assets/scss/breakpoints.scss';

.hero {

  @apply grid mb-16;
  @apply grid-cols-1 gap-4;
  @apply lg:grid-cols-2 lg:gap-0;

  @media screen and (min-width: breakpoints.$min-lg-width) {
    h1 {
      font-size: 3.75rem;
      line-height: 90px;
      letter-spacing: theme.$letter-spacing;
      font-weight: theme.$inter-font-weight-extra-bold;
    }
    .text {
      width: 550px;
    }
    .featured-image {
      margin-left: auto;
    }
  }
}

.content {
  @include theme.card;
  display: block;
  background-color: theme.$gray-50;
  padding: theme.$spacing-5;

  @media screen and (max-width: breakpoints.$max-sm-width) {
    margin-left: -(theme.$spacing-5);
    margin-right: -(theme.$spacing-5);
  }

  @media screen and (min-width: breakpoints.$min-md-width) {
    border-radius: theme.$rounded-xl;
    box-shadow: theme.$box-shadow-card;
    padding: theme.$spacing-15;
  }
}

.subtitle {
  color: theme.$gray-600;
  margin-bottom: theme.$spacing-5;
}

p,
li {
  @include theme.inter-body-base-regular;
}

a {
  text-decoration: underline;
}
