<div class="bio-card-container border-1 border-solid border-gray-200 bg-gray-100 p-6 rounded">
	@if (story.author) {
		<section class="author grid mb-4 sm:mb-8 gap-x-4">
			<img
				[alt]="'Retrato de ' + story.author.name"
				[ngSrc]="story.author.imageUrl + '?h=64&w=64'"
				class="rounded-md"
				width="64"
				height="64"
			/>
			<div class="author-info flex flex-col justify-center">
				<p class="inter-body-lg-semibold">{{ story.author.name }}</p>
				<div class="author-nationality flex items-center gap-2 inter-body-base-medium text-gray-700">
					<img
						[alt]="'Bandera de ' + story.author.nationality.country"
						[ngSrc]="story.author.nationality.flag + '?w=20&h=15'"
						class="rounded w-[20px] h-[15px]"
						width="20"
						height="15"
					/>
					<span>{{ story.author.nationality.country }}</span>
				</div>
			</div>

			@if (resources.length > 0) {
				<div class="resources flex justify-start sm:justify-end gap-4">
					@for (resource of resources; track $index) {
						<cuentoneta-resource [resource]="resource"></cuentoneta-resource>
					}
				</div>
			}
		</section>
        <section class="inter-body-base-regular text-gray-700" [lang]="story.language">
            @for (paragraph of story.author.biography; track $index) {
                <p class="last:mb-0 mb-8" [innerHTML]="paragraph.text" [ngClass]="paragraph.classes"></p>
            }
            @for (paragraph of story.summary; track $index) {
                <p class="last:mb-0 mb-8" [innerHTML]="paragraph.text" [ngClass]="paragraph.classes"></p>
            }
        </section>

    }
</div>
