<div class="bio-card-container">
	@if (story.author) {
		<section class="author mb-4 sm:mb-8">
			<img
				[alt]="'Retrato de ' + story.author.name"
				[ngSrc]="story.author.imageUrl + '?h=64&w=64'"
				class="author-image"
				width="64"
				height="64"
			/>
			<div class="author-info flex flex-col justify-center">
				<p class="author-name">{{ story.author.name }}</p>
				<div class="author-nationality flex items-center gap-2">
					<img
						[alt]="'Bandera de ' + story.author.nationality.country"
						[ngSrc]="story.author.nationality.flag + '?w=20&h=15'"
						class="flag"
						width="20"
						height="15"
					/>
					<span>{{ story.author.nationality.country }}</span>
				</div>
			</div>

			@if (resources.length > 0) {
				<div class="resources flex justify-start sm:justify-end gap-4">
					@for (resource of resources; track $index) {
						<cuentoneta-resource [resource]="resource"></cuentoneta-resource>
					}
				</div>
			}
		</section>
		<section class="bio-and-summary" [lang]="story.language">
			<ng-container *ngFor="let paragraph of story.author.biography">
				<p [innerHTML]="paragraph.text" [ngClass]="paragraph.classes"></p>
			</ng-container>
			<ng-container *ngFor="let paragraph of story.summary">
				<p [innerHTML]="paragraph.text" [ngClass]="paragraph.classes"></p>
			</ng-container>
		</section>
	}
</div>
