@use 'src/assets/scss/breakpoints.scss';

.author {
	@media screen and (max-width: breakpoints.$max-xs-width) {
		grid-template-rows: [row] auto;

		.resources {
			grid-column-start: 1;
			grid-column-end: 3;
		}

		.author-image {
			grid-column: col / span 1;
			grid-row: row / span 1;
		}

		.author-info {
			grid-column: col 2 / span 3;
			grid-row: row / span 1;
		}

		.author-bio-link {
			grid-column: col 1 / span 2;
			grid-row: row 2;
			justify-content: left;
		}

		.summary-link {
			grid-column: col 3 / span 2;
			grid-row: row 2;
			justify-content: left;
		}
	}

	@apply max-xs:grid-cols-[64px_1fr] max-xs:gap-y-4;

	@apply sm:grid-cols-[64px_1fr_1fr];
}
