@use 'src/assets/scss/breakpoints.scss' ;

.main-container {
    min-height: 100vh;
    margin: auto;

    @apply md:max-w-screen-lg;

    @media screen and (max-width: breakpoints.$max-md-width) {
        margin: 0 20px;
    }
}
