@use 'src/assets/scss/breakpoints.scss' ;

.main-container {
    min-height: 100vh;
    margin: auto;

    @media screen and (min-width: breakpoints.$min-lg-width) {
        width: 1240px;
    }
    @media screen and (max-width: breakpoints.$max-md-width) {
        margin: 0 20px;
    }
}
