<ion-app [class.dark-theme]="darkMode">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content">
            <ion-content>
                <ion-list lines="none">
                    <ion-list-header> Cuentos </ion-list-header>
                    <ion-menu-toggle autoHide="false" *ngFor="let page of appPages; let i = index">
                        <ion-item
                            [routerLink]="page.url"
                            routerLinkActive="selected"
                            routerDirection="root"
                            detail="false"
                        >
                            <ion-icon slot="start" [name]="page.icon + '-outline'"></ion-icon>
                            <ion-label>
                                {{ page.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-list lines="none">
                    <ion-list-header> Preferencias y Notificaciones </ion-list-header>
                    <ion-menu-toggle autoHide="false" *ngFor="let p of settingsPages; let i = index">
                        <ion-item
                            [routerLink]="p.url"
                            routerLinkActive="selected"
                            routerDirection="root"
                            href="{{"
                            p.href
                            }}
                            detail="false"
                        >
                            <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle autoHide="false" *ngFor="let p of externalLinks">
                        <ion-item href="{{ p.url }}" detail="false" target="_blank">
                            <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-item>
                        <ion-icon slot="start" name="moon-outline"></ion-icon>
                        <ion-label> Modo Oscuro </ion-label>
                        <ion-toggle [ngModel]="darkMode" (ionChange)="onModeChange($event)"></ion-toggle>
                    </ion-item>
                    <ion-menu-toggle autoHide="false">
                        <ion-button (click)="subscribeAlert()">
                            <ion-icon slot="start" name="notifications-outline"></ion-icon>
                            <ion-label> Suscribirse a Actualizaciones </ion-label>
                        </ion-button>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
