<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-title>Gestión de Notificaciones</ion-title>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div class="header">
        <div class="subscription-image"></div>
    </div>
    <div class="subscription-info ion-padding-start ion-padding-end ion-padding-top">
        <div class="description ion-text-justify">
            <p>
                En esta sección podés consultar el estado de tu <strong>suscripción</strong> a La Cuentoneta y
                gestionarla.
            </p>
            <p>
                La suscripción consiste en recibir <strong>una actualización por día</strong> cada vez que sumamos un
                cuento a La Cuentoneta y, sólo de ser necesario, enviaremos alguna otra información relacionada a
                "Cuentos de Verano".
            </p>
        </div>

        <ng-container *ngIf="subscriptionStatusLoaded"
            ><h4 class="ion-margin-top">Estado de tu suscripción:</h4>

            <ion-item-divider class="ion-padding" color="primary" *ngIf="isSubscriptionActive">
                <ion-text><strong>¡Ya tenés una suscripción activa a La Cuentoneta!</strong></ion-text>
            </ion-item-divider>
            <ion-item-divider class="ion-padding" color="danger" *ngIf="!isSubscriptionActive">
                <ion-text><strong>Actualmente no tenés una suscripción activa a La Cuentoneta</strong></ion-text>
            </ion-item-divider>

            <ng-container *ngIf="!isSubscriptionActive"
                ><p>
                    Si lo deseás, podés dar de alta tu suscripción presionando el botón siguiente. Es posible que tu
                    navegador pida autorización para recibir notificaciones de nuestro sitio y se te presente un cuadro
                    de diálogo para otorgar ese permiso.
                </p>
                <ion-button color="primary" expand="block" (click)="enableSubscription()"
                    >Suscribirme a La Cuentoneta
                </ion-button>
            </ng-container>

            <ng-container *ngIf="isSubscriptionActive">
                <p>Si lo deseás, podés dar de baja tu suscripción presionando el botón siguiente:</p>
                <ion-button color="danger" expand="block" *ngIf="isSubscriptionActive" (click)="disableSubscription()"
                    >Desuscribirme
                </ion-button>
            </ng-container>
        </ng-container>
    </div>
</ion-content>
