<main class="content horizontal-layout-spacing vertical-layout-spacing block">
	<article [attr.aria-busy]="!storylistResource.isLoading()" class="grid grid-cols-1 gap-y-8">
		<cuentoneta-storylist-title [storylist]="storylistResource.value()" />
		<section>
			<cuentoneta-tabs [initialTab]="activeTab()">
				<cuentoneta-tab title="Textos" name="stories">
					<div class="grid grid-cols-1 gap-8 md:grid-cols-2">
						@defer (when storylistResource.value()) {
							@if (storylistResource.value(); as storylist) {
								@for (story of stories(); track $index) {
									<cuentoneta-story-card-teaser
										[story]="story"
										[showAuthor]="storylist.config.showAuthors"
										[order]="$index + 1"
										[showExcerpt]="true"
										[navigationParams]="{
											navigation: 'storylist',
											navigationSlug: storylist.slug,
										}"
										data-testid="card"
									/>
								}
							}
						} @loading (minimum 500ms) {
							@for (_ of [].constructor(12); track $index) {
								<cuentoneta-story-card-teaser-skeleton
									[showAuthor]="true"
									[order]="$index + 1"
									[showExcerpt]="true"
									data-testid="skeleton"
								/>
							}
						}
					</div>
				</cuentoneta-tab>

				<cuentoneta-tab title="Ficha técnica" name="about">
					@if (storylistResource.value(); as storylist) {
						<div class="flex flex-col">
							<cuentoneta-portable-text-parser
								[paragraphs]="storylist.description"
								[classes]="'source-serif-xl font-normal'"
								class="flex flex-col gap-4"
							/>
						</div>
					} @else {
						<div class="flex flex-col gap-2.5 xs:max-md:col-span-1 md:col-span-6">
							@for (line of [].constructor(10); track $index) {
								<cuentoneta-skeleton appearance="line" class="h-5 w-full bg-neutral-300" />
							}
						</div>
					}
				</cuentoneta-tab>

				<!-- TODO: Implementar visualización de recursos multimedia para storylists -->
				@if (hasMedia()) {
					<cuentoneta-tab title="Multimedia" name="media">
						@if (storylistResource.value()) {
							<div class="flex flex-col gap-8">
								<p class="text-lg text-neutral-600 dark:text-neutral-300">
									Contenido multimedia relacionado con esta colección
								</p>
								<cuentoneta-media-resource [mediaResources]="media()" />
							</div>
						}
					</cuentoneta-tab>
				}

				<!-- TODO: Implementar visualización de tabs adicionales programables para storylists -->
				@for (tab of tabs(); track tab.slug) {
					<cuentoneta-tab [title]="tab.title" [name]="tab.slug">
						@if (storylistResource.value()) {
							<div class="flex flex-col">
								<cuentoneta-portable-text-parser
									[paragraphs]="tab.content"
									[classes]="'source-serif-xl font-normal'"
									class="flex flex-col gap-4"
								/>
							</div>
						}
					</cuentoneta-tab>
				}
			</cuentoneta-tabs>
		</section>
	</article>
</main>
