<main>
    <section class="hero flex justify-between items-center">
        <div class="text">
            <h1 class="title">Historias para disfrutar, compartir y aprender</h1>
            <h3 class="subtitle">
                Una iniciativa que busca fomentar y hacer accesible la lectura digital, publicando relatos breves en
                nuestras <em>storylists</em> temáticas. ¡Subite a La Cuentoneta!
            </h3>
        </div>
        <div class="featured-image">
            <img width="506" height="400" [ngSrc]="'./assets/svg/illustration.svg'" />
        </div>
    </section>

    <section class="card-decks">
        <cuentoneta-story-list-card-deck
            [storylist]="latestStories"
            [highlightFirstRow]="true"
            [displayTitle]="true"
        ></cuentoneta-story-list-card-deck>

        <cuentoneta-story-list-card-deck
            [storylist]="oldStories"
            [displayTitle]="true"
        ></cuentoneta-story-list-card-deck>
    </section>
</main>
