<main>
	<div class="mb-4 flex content-between items-center">
		<hr class="flex-grow" />
		<h2 class="h2 mx-8 text-center">¿Qué querés leer hoy?</h2>
		<hr class="flex-grow" />
	</div>
	<div class="mb-8 flex justify-center">
		<h3 class="h3 subtitle text-center">
			En este apartado podrás encontrar todas las storylists publicadas hasta el momento en La Cuentoneta
		</h3>
	</div>

	<section class="grid grid-cols-1 justify-items-center gap-8 lg:grid-cols-2">
		@if (!!cards && cards.length) {
			@for (storylist of cards; track $index) {
				<cuentoneta-storylist-card [storylist]="storylist" class="card w-full"> </cuentoneta-storylist-card>
			}
		}
	</section>
</main>
