<section class="flex flex-row flex-1">
	@for (platform of platforms; track $index) {
		@if (!isLoading) {
			<button
				(click)="onShareToPlatformClicked($event, platform)"
				[title]="'Compartir en ' + platform.name"
				class="flex items-center justify-center border-1 border-solid border-gray-200 rounded-bl-full w-12 h-12 bg-gray-100 hover:bg-gray-200"
			>
				<img
					[alt]="'Compartir en ' + platform.name"
					[ngSrc]="'assets/svg/' + platform.logo + '.svg'"
					[height]="24"
					[width]="24"
					class="m-3 w-6 h-6"
				/>
			</button>
		} @else {
			<ngx-skeleton-loader
				[theme]="{
					'height.px': 48,
					'width.px': 48,
					'margin.px': 0,
					'background-color': '#D4D4D8'
				}"
				count="1"
				appearance="circle"
			></ngx-skeleton-loader>
		}
	}
</section>
