@use 'src/assets/scss/theme.scss';

$max-width: 602px;
$image-height: 240px;

:host {
  @include theme.card;
  max-width: $max-width;
  display: block;

  header {
    max-width: $max-width;
    height: $image-height;

    img {
      border-top-left-radius: theme.$rounded-lg;
      border-top-right-radius: theme.$rounded-lg;
      height: $image-height;
      object-fit: cover;
    }
  }

  article {
    .navigation-link {
      &:hover {
        .card-title {
          color: theme.$interactive-500;

        }
      }
    }

    header, section {
      cursor: pointer;
    }
    section {
      border: 1px solid theme.$primary-300;
      border-bottom: none;
    }
  }

  footer {
    border: 1px solid theme.$primary-300;
    border-top: none;
    border-bottom-left-radius: theme.$rounded-lg;
    border-bottom-right-radius: theme.$rounded-lg;
  }

  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .description{
    min-height: 72px;
  }

  .subtitle {
    color: theme.$gray-600;
  }
}
