<!-- Renderizado de tarjetas de stories -->
<ng-container *ngTemplateOutlet="storylist()?.publications ? publicationsTemplate : skeletonsTemplate"> </ng-container>

<ng-template #skeletonsTemplate>
	@for (skeleton of [1, 2, 3, 4, 5, 6, 7, 9, 10]; track $index) {
		<cuentoneta-story-card-skeleton class="xs:max-md:!col-span-1 md:col-span-6" />
	}
</ng-template>

<ng-template #publicationsTemplate>
	@if (!!storylist()) {
		@for (publication of storylist()?.publications; track $index) {
			<div
				[class.disabled]="!publication || !publication.published"
				[attr.aria-busy]="!publication"
				class="xs:max-md:!col-span-1 md:col-span-6"
			>
				@if (publication) {
					@if (publication.published) {
						<cuentoneta-publication-card
							[editionLabel]="publication | mapPublicationEditionLabel: storylist()!"
							[publication]="publication"
							[navigationRoute]="
								router.createUrlTree(['/', this.appRoutes.Story, publication.story.slug], {
									queryParams: {
										navigation: 'storylist',
										navigationSlug: storylist()?.slug
									}
								})
							"
						/>
					} @else {
						<cuentoneta-story-card-skeleton
							[animation]="false"
							[displayDate]="false"
							[editionLabel]="publication | mapPublicationEditionLabel: storylist()!"
							[comingNextLabel]="publication | mapPublicationComingNextLabel: storylist()!"
							content
						/>
					}
				} @else {
					<cuentoneta-story-card-skeleton [animation]="'progress'" />
				}
			</div>
		}
	}
</ng-template>
