@use 'src/assets/scss/theme.scss' as *;

$cards-grid-gap: $spacing-8;

.title {
  margin-bottom: $spacing-5;

  > .nav-link:hover {
    color: $interactive-500;
  }
}

.subtitle{
  color: $gray-600;
}

.stories-card-container {
  display: grid;
  grid-gap: $cards-grid-gap;
  grid-template-columns: repeat(12, 1fr);

  img {
    border-radius: $rounded-lg;
  }

  a.disabled {
    cursor: unset;
    pointer-events: none;
  }

  @media screen and (max-width: $max-sm-width) {
    grid-template-columns: repeat(1, 1fr) !important;
    .title-container {
      order: 1 !important;
    }
    .story-card-container {
      grid-column: auto / span 2 !important;
    }
  }
}

* + .stories-card-container {
  margin-top: $cards-grid-gap;
}
