<article
	[attr.aria-busy]="!storylist()"
	class="stories-card-container grid grid-cols-1 gap-y-5 md:grid-cols-12 md:gap-8"
>
	<ng-container *ngTemplateOutlet="storylistTemplate"> </ng-container>
</article>

<ng-template #storylistTemplate>
	<!-- Renderizado de título y descripción -->
	@if (displayTitle()) {
		@if (!!storylist()) {
			<div
				[lang]="storylist()?.language"
				[ngStyle]="{
					order: 0,
					'grid-column-start': 'auto',
					'grid-column-end': 'span 6'
				}"
				class="xs:max-md:!col-span-1 xs:max-sm:!order-1"
			>
				<h1 class="h1 mb-5">
					<a
						[ngClass]="{ 'hover:text-interactive-500': canNavigateToStorylist() }"
						[routerLink]="canNavigateToStorylist() ? '/' + appRoutes.StoryList + '/' + storylist()?.slug : null"
						class="disabled:pointer-events-none disabled:cursor-default"
						>{{ storylist()?.title }}</a
					>
				</h1>
				<h3 class="h3 subtitle text-gray-600">
					<cuentoneta-portable-text-parser
						[paragraphs]="storylist()?.description ?? []"
					></cuentoneta-portable-text-parser>
				</h3>
			</div>
		} @else {
			<div
				[ngStyle]="{
					order: 1,
					'grid-column-start': 'auto',
					'grid-column-end': 'span 6'
				}"
				class="xs:max-md:col-span-1 xs:max-sm:!order-1"
			>
				<ngx-skeleton-loader
					[theme]="{
						'margin-bottom.px': 20,
						'height.px': 40,
						width: '100%',
						'background-color': skeletonColor
					}"
					count="1"
					appearance="line"
				></ngx-skeleton-loader>
				<ngx-skeleton-loader
					[theme]="{
						'margin-bottom.px': 10,
						'height.px': 20,
						width: '100%',
						'background-color': skeletonColor
					}"
					count="3"
					appearance="line"
				></ngx-skeleton-loader>
			</div>
		}
	}

	<!-- Renderizado de tarjetas de stories -->
	<ng-container *ngTemplateOutlet="storylist()?.publications ? publicationsTemplate : skeletonsTemplate">
	</ng-container>
</ng-template>

<ng-template #skeletonsTemplate>
	@for (skeleton of [1, 2, 3, 4, 5, 6, 7]; track $index) {
		<cuentoneta-story-card-skeleton
			[ngStyle]="{
				order: skeleton,
				'grid-column-start': 'auto',
				'grid-column-end': 'span 6'
			}"
			class="xs:max-md:!col-span-1"
		/>
	}
</ng-template>

<ng-template #publicationsTemplate>
	@if (!!storylist()) {
		@for (publication of storylist()?.publications; track $index) {
			<div
				[ngStyle]="{
					order: $index,
					'grid-column-start': 'auto',
					'grid-column-end': 'span 6'
				}"
				[class.disabled]="!publication || !publication.published"
				[attr.aria-busy]="!publication"
				class="xs:max-md:!col-span-1"
			>
				@if (publication) {
					<cuentoneta-publication-card
						[storylist]="storylist()!"
						[publication]="publication"
						[navigationRoute]="
							router.createUrlTree(['/', this.appRoutes.Story, publication.story.slug], {
								queryParams: {
									navigation: 'storylist',
									navigationSlug: storylist()?.slug
								}
							})
						"
					/>
				} @else {
					<cuentoneta-story-card-skeleton [animation]="'progress'" />
				}
			</div>
		}
	}
</ng-template>
