// Imports de estilos globales
@use 'assets/scss/reset' as *;
@use 'assets/scss/theme' as *;
@use 'assets/scss/transitions' as *;
@use 'src/app/directives/tooltip.directive.scss' as *;

// Imports de Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// Imports de fuentes
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.woff2');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('assets/fonts/source-serif-pro.woff2');
}

// Font size mixins

// region Inter font sizing mixins
.inter-body-base {
  @apply font-inter text-base tracking-normal;
}

.inter-body-xl {
  @apply font-inter text-xl tracking-normal;
}

.inter-body-base-medium {
  @apply inter-body-base font-medium;
}

.inter-body-base-semibold {
  @apply inter-body-base font-semibold;
}
// endregion

// region Source Serif Pro font size mixins
.source-serif-pro-body-xl {
  @apply font-source-serift text-xl tracking-normal;
}
// endregion

/**
  Sección de estilos globales aplicados a componentes

  Para aplicar estilos a un componente en específico, por fuera de la ViewEncapsulation de Angular, debe
  declararse el selector del componente en el selector de la regla CSS y, posteriormente, anidar los estilos
  que se deseen aplicar al mismo.

  Los casos de aplicación para reglas CSS globales son:
  - Aplicar estilos a un componente que no se puede modificar (por ejemplo, un componente de un paquete externo).
  - Aplicar estilos a HTML generado dinámicamente e inyectado en la vista mediante atributos InnerHTML o OuterHTML.
*/

ngx-skeleton-loader {
  display: block;
  line-height: 0;
}

youtube-player {
  .youtube-player-placeholder {
    @apply mb-6 w-full aspect-video rounded-xl sm:mb-10  #{!important};
  }

  div iframe {
    @apply mb-6 w-full aspect-video rounded-xl sm:mb-10 #{!important};
  }
}

cuentoneta-bio-summary-card {
  .bio-and-summary p {
    a {
      color: $interactive-500;
      text-decoration: underline;
      &:hover {
        color: $interactive-600;
      }
    }
  }
}
