// Imports de Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Imports de estilos globales
@import 'assets/scss/reset';
@import 'assets/scss/theme';
@import 'assets/scss/transitions';
@import 'src/app/directives/tooltip.directive.scss';

// Imports de fuentes
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.woff2');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('assets/fonts/source-serif-pro.woff2');
}

ngx-skeleton-loader {
  display: block;
  line-height: 0;
}

* {
  //outline: 1px solid red;
}