@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/scss/reset';
@import 'assets/scss/theme';
@import 'src/app/directives/tooltip.directive.scss';
/* You can add global styles to this file, and also import other style files */

// Font imports

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/inter.woff2');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('src/assets/fonts/source-serif-pro.woff2');
}

ngx-skeleton-loader {
  display: block;
  line-height: 0;
}

* {
  //outline: 1px solid red;
}
