// Imports de estilos globales
@use 'assets/scss/reset' as *;
@use 'assets/scss/icons' as *;
@use 'assets/scss/typography' as *;
@use 'assets/scss/theme' as *;
@use 'assets/scss/transitions' as *;
@use 'src/app/directives/tooltip.directive.scss' as *;

// Imports de estilos de Ngx Owl Carousel
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel' as *;
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as *;

// Imports de Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Imports de fuentes
@font-face {
	font-display: swap;
	font-family: Inter;
	src: url('assets/fonts/inter.woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Source Serif Pro';
	src: url('assets/fonts/source-serif-pro.woff2');
}

@layer components {
	.card {
		@apply rounded-lg bg-gray-50 shadow-lg;
	}
}

/**
  Sección de estilos globales aplicados a componentes

  Para aplicar estilos a un componente en específico, por fuera de la ViewEncapsulation de Angular, debe
  declararse el selector del componente en el selector de la regla CSS y, posteriormente, anidar los estilos
  que se deseen aplicar al mismo.

  Los casos de aplicación para reglas CSS globales son:
  - Aplicar estilos a un componente que no se puede modificar (por ejemplo, un componente de un paquete externo).
  - Aplicar estilos a HTML generado dinámicamente e inyectado en la vista mediante atributos InnerHTML o OuterHTML.
*/

ngx-skeleton-loader {
	@apply block leading-0;
}
