.nationality-flag {
    margin-left: 4px;
    width: 18px;
}

ion-item {
    cursor: pointer;
}

.spinner-container {
    width: 100%;
    text-align: center;

    > ion-spinner {
        width: 64px;
        height: 64px;
    }
}
