<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="ion-text-center">
            <ion-title>Lista de Cuentos</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="(storyList$ | async) as storyList">
        <div class="ion-padding spinner-container" *ngIf="isLoading">
            <ion-spinner name="dots"></ion-spinner>
        </div>
        <ng-container *ngIf="!isLoading">
            <ion-list>
                <ion-item *ngFor="let story of storyList" (click)="navigateToStory(story.day)">
                    <ion-avatar slot="start">
                        <img [src]="story.author.imageUrl" alt="Imagen del autor del cuento" />
                    </ion-avatar>
                    <ion-label>
                        <h2>{{story.title}}</h2>
                        <h3>
                            por {{story.author.name}}<img
                                alt="Imagen de la bandera de nacionalidad del autor del cuento"
                                class="nationality-flag"
                                [src]="story.author.nationality"
                            />
                        </h3>
                        <p>Día {{story.day}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>
</ion-content>
