<article
	[attr.aria-busy]="!publication"
	class="card flex flex-col gap-2 border-1 border-solid border-primary-300 p-5 shadow-lg hover:shadow-lg-hover md:gap-4 md:p-8"
>
	@if (!!publication && publication.published) {
		@if (publication.story; as story) {
			<header [lang]="story.language" class="card-header">
				<cuentoneta-story-edition-date-label [label]="publication.editionLabel" />
			</header>
			<section [lang]="story.language">
				<h1 class="inter-body-xl-bold mb-1 overflow-hidden text-ellipsis whitespace-nowrap">{{ story.title }}</h1>
				<cuentoneta-portable-text-parser
					[type]="'span'"
					[paragraphs]="story.paragraphs"
					class="sm:source-serif-pro-body-base hidden sm:relative sm:line-clamp-3 sm:min-h-18 sm:text-ellipsis sm:text-justify"
				></cuentoneta-portable-text-parser>
			</section>
			<time class="inter-body-xs-semibold font-semibold text-gray-600">
				{{ story.approximateReadingTime }} minutos de lectura
			</time>
			<hr class="text-gray-300" />
			<footer class="flex flex-row items-center justify-between">
				<div class="flex flex-row items-center">
					<img
						[alt]="'Retrato de ' + story.author.name"
						[ngSrc]="story.author.imageUrl + '?h=40&w=40'"
						class="mr-3 h-10 w-10 rounded"
						width="40"
						height="40"
					/>
					<div>
						<label class="inter-body-base-semibold">{{ story.author.name }}</label>
						@if (story.author.nationality; as nationality) {
							<div class="flex items-center">
								<img
									[alt]="'Bandera de ' + nationality.country"
									[ngSrc]="nationality.flag + '?w=20&h=15'"
									class="h-[15px] w-[20px] rounded"
									width="20"
									height="15"
								/>
								<label class="inter-body-sm-semibold ml-2 text-gray-500">{{ nationality.country }}</label>
							</div>
						}
					</div>
				</div>
				<cuentoneta-media-resource-tags [resources]="story.media" />
			</footer>
		}
	} @else {
		@if (!publication) {
			<cuentoneta-story-card-skeleton [animation]="'progress'" />
		}
		@if (!!publication && !publication.published) {
			<cuentoneta-story-card-skeleton
				[animation]="false"
				[displayDate]="false"
				[editionLabel]="publication.editionLabel"
				[comingNextLabel]="comingNextLabel"
			/>
		}
	}
</article>
