@use 'src/assets/scss/theme.scss' as theme;

$left-gradient-color: hsl(230, 100, 50);
$right-gradient-color: hsl(260, 100, 60);

:host {
	font-family: sans-serif;
}

.spaces-card {
	@include theme.inter-body-base;
	display: grid;
	grid-template-rows: repeat(3, auto);
	padding: theme.$spacing-4;
	border-radius: theme.$spacing-2;
	background-image: linear-gradient(60deg, $left-gradient-color -15%, $right-gradient-color 100%);
	color: white;

	.spaces-meta {
		display: flex;
		font-size: 1rem;
	}

	.spaces-host {
		img {
			border: 1px solid white;
		}
		.name {
			font-weight: bold;
		}
		.badge {
			border-radius: theme.$spacing-1;
			padding: 2px 4px;
			font-size: 13px;
			line-height: 16px;
			background-color: hsla(0, 0, 100, 0.3);
		}
	}

	.spaces-title {
		color: white;
		font-weight: 600;
		font-size: 20px;
	}

	.spaces-btn {
		text-decoration: none;
		font-weight: bold;
		font-size: 1rem;
		text-align: center;
		padding: 10px;
		border-radius: 3rem;
		color: white;
		background-color: #fff4;
		&:hover {
			background-color: #1114;
		}
	}

	.spaces-title {
		color: white;
		font-weight: 600;
		font-size: 20px;
	}

	.spaces-date {
		font-weight: bold;
	}
}
