name: Linting CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.1.1

      - name: Use Node.js 20.11
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.11
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Install nx
        run: sudo pnpm add -g nx

      - name: Run Linter
        run: nx lint --skip-nx-cache
